{{page-title "Contact"}}
<h1 class="text-3xl mb-3 mx-auto">Global locations</h1>
<div class="flex flex-row">
    <div>
        <pre>
            HQ: San Mateo, CA
            2950 S. Delaware Street, Suite 201
            San Mateo, CA 94403+1 855 747 6767
        </pre>
    </div>
    <div>
        <pre>
            Denver, CO
            1401 Lawrence Street, Suite 1200
            Denver, CO 80202+1 855 747 6767
        </pre>
    </div>
    <div>
        <pre>
            New York, NY
            Tower 4912 E. 49th Street
            New York, New York 10017+18557476767
        </pre>
    </div>
</div>